<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>bananafish.worldwar.HelloWorld</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            Login
        </servlet-name>
        <servlet-class>
            bananafish.worldwar.Login
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>
            QueryService
        </servlet-name>
        <servlet-class>
            bananafish.worldwar.QueryService
        </servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>CommentService</servlet-name>
        <servlet-class>bananafish.worldwar.CommentService</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>OnlineCounter</servlet-name>
        <servlet-class>bananafish.worldwar.OnlineCounterService</servlet-class>
    </servlet>

    <filter>
        <filter-name>CommentFilter</filter-name>
        <filter-class>bananafish.worldwar.CommentFilter</filter-class>
    </filter>

    <listener>
        <listener-class>bananafish.worldwar.OnlineCounter</listener-class>
    </listener>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>


    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QueryService</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OnlineCounter</servlet-name>
        <url-pattern>/Online</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CommentService</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>CommentFilter</filter-name>
        <url-pattern>/Comment</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>